.marks-gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    max-width: 500px;
    margin: 0 auto;
    padding: 0.25rem;
}

@media (min-width:500px) {

    .left-50 {
        left: 50;

    }
}