.time-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}

.time-button {
    flex-basis: 25%;
    align-self: center;
    margin: 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
}

.form-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    margin: 0.5em;
}

@media (min-width:500px) {

    .time-input {
        color: white;
    }
}