.time-field {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-width: 0.5px;
    width: 25%;
}

.input-field {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 0;
    flex-basis: 50%;

}